{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
    <ul class="items">
        {% for show in results.data %}
            <li>
                <a href="/shows/{{ show.id }}">
                    <i class="fas fa-music"></i>
                    <div class="item">
                        <h5>{{ show.artist_name }}</h5>
                        <h5>{{ show.venue_name }}</h5>
                        <h5>{{ show.start_time }}</h5>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    {#    COMPLETED implement show search frontend #}

{% endblock %}